{% macro base_layout(title) %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>{{ title }}</title>

      <!-- External Libraries -->
      <script
        src="https://unpkg.com/htmx.org@1.9.9"
        integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
        crossorigin="anonymous"
      ></script>
      <script src="https://unpkg.com/alpinejs" defer></script>

      <!-- Tailwind build artefacts -->
      <link rel="stylesheet" href="/static/dist/tailwind.css" />

      <!-- Webpack build artefacts -->
      <script src="/static/dist/bundle.js"></script>
    </head>
    <body
      hx-boost="true"
    >
      {{ caller() }}
    </body>
  </html>
{% endmacro %}
